body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color:purple;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

nav{
    text-align: center;
}

button:hover{
    transform: rotate(180deg);
}

img{
    transform: scale(0.5,0.5);
}

img:hover{
    transform: scale(1.5,1.5)
}


.rainbow{
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}



.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.sub1{
    text-align: left;
}

.brooklyn{
    text-align: left;
    border-style: dashed;
    border-color: aliceblue;
    background-color: midnightblue;
}
.bronx{
    text-align: left;
    border-style: dashed;
    border-color: aliceblue;
    background-color: midnightblue;
}
.manhattan{
    text-align: left;
    border-style: dashed;
    border-color: aliceblue;
    background-color: midnightblue;
}
.staten{
    text-align: left;
    border-style: dashed;
    border-color: aliceblue;
    background-color: midnightblue;
}
.queens{
    text-align: left;
    border-style: dashed;
    border-color: aliceblue;
    background-color: midnightblue;
}

