body {
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    color:black;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
}

h3 {
    text-align: center;
    color: white;
    font-size: 24px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

nav{
    text-align: center;
}

p{
    text-align: center;
    font-size: 16px;
}

img{
    display: block;
    max-width: 10%;
    height: auto;
    margin-left: auto;
}

table{
    border: 2px solid;
    text-align: center;
}

td{
    text-align: left;
}


.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.brooklyn{
    text-align: center;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    border-style: solid;
    background-image: url("BrooklynFlag.png");
    background-color: gray;
    height:fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bronx{
    text-align: center;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    border-style: solid;
    background-image: url("BronxFlag.png");
    background-color: gray;
    height:fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.manhattan{
    text-align: center;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    border-style: solid;
    background-image: url("ManhattanFlag.png");
    background-color: gray;
    height:fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.staten{
    text-align: center;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    border-style: solid;
    background-image: url("StatenFlag.png");
    background-color: gray;
    height:fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.queens{
    text-align: center;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    border-style: solid;
    background-image: url("QueensFlag.png");
    background-color: gray;
    height:fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ref{
    text-align: left;
    border-style: solid;
    border-color: black;
    background-color: gray;
}



